#principal-title {
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

#sort_card_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons_choice_div > button, #buttons_new_div > a > button {
    width: 37.5vw;
}

.button_sort_card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_sort_card img {
    margin-right: 0.2rem;
}

@media (min-width: 700px) {
    .button_sort_card {
        width: 50vw;
    }

    #buttons_choice_div > button, #buttons_new_div > a > button {
        width: 25vw;
    }
}

@media (min-width: 1000px) {
    .button_sort_card {
        width: 40vw;
    }

    #buttons_choice_div > button, #buttons_new_div > a > button {
        width: 20vw;
    }
}