#edit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#body_edit {
    margin-left: 0.2rem;
}

.button_episode {
    width: 6rem;
    height: 2rem;
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
}

#button_voltar_edit {
    cursor: pointer;
}

.button_voltar_index {
    cursor: pointer;
}

#title_edit {
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
}

#capa_editar {
    width: 7.5rem;
}

#head_editar {
    display: flex;
}

.group_episode {
    display: flex;
    margin-right: 0.5rem;
}

#group_episodes {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}

#nomes {
    display: flex;
    flex-direction: column;
    margin-left: 0.3rem;
}

#nomes > input {
    height: 2rem;
    font-size: 1rem;
}

.group_episode > input {
    text-align: center;
    font-size: 1.3rem;
    height: 4.5rem;
    width: 4.5rem;
}

.buttons-edit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title_icon {
    display: flex;
    justify-content: space-between;
}