#input_image {
    display: none;
}

#image_upload {
    width: 2.5rem;
}

.part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5rem;
    height: 3rem;
    width: 18rem;
}

.part > label {
    color: white;
    font-size: 1.2rem;
}

.part > button {
    height: 2.5rem;
    border: none;
    width: initial;
}

.part > input {
    border: none;
    border-radius: 0.2rem;
    height: 3rem;
    font-size: 1.1rem;
}

.part > input:focus {
    outline: none;
}

#label_image {
    display: flex;
    align-items: center;
}

#label_image > p {
    margin-right: 0.3rem;
}

#form_new {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.asterisk {
    color: red;
}