#div_error_assis_all {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

#div_error_assis_all > h1 {
    color: white;
    font-size: 1.5rem;
}

#div_error_assis_all > h1 > a {
    text-decoration: none;
    color: rgb(91, 36, 143);
}

#div_error_assis_all > h1 > a:hover {
    text-decoration: underline;
    color: rgb(86, 18, 150);
}